<script lang="ts">

export default {
  methods: {
    showModal() {
      this.$refs["delete_modal"].show();
    },
    hideModal() {
      this.$refs["delete_modal"].hide();
    },
    showUpdateModal() {
      this.$refs["update_modal"].show();
    },
    hideUpdateModal() {
      this.$refs["update_modal"].hide();
    },
    onReset(event) {
      event.preventDefault();
      this.form.title = "";
      this.form.description = "";
    },
  },
};
</script>
<template>
  <div class="about">
    <h1>This is an about page</h1>
        <div>
    The modal container.
    <b-modal
      ref="delete_modal"
      hide-footer
      title="Modal Title"
    >
      <b-button
        class="mt-3"
        variant="outline-secondary"
        block
        >Delete</b-button
      >
      <b-button class="mt-3 me-2" variant="success" block @click="hideModal"
        >Exit</b-button
      >
    </b-modal>
    </div>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
